@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@200&display=swap");

body {
  margin-left: 20mm;
  margin-right: 20mm;
}
.nav-right {
  display: inline-flex;

  font-family: rob;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: rgb(200, 200, 200);
}
p {
  text-decoration: none;
  color: darkgrey;
  margin-left: 5mm;
  margin-right: 5mm;
}
header {
  position: sticky;
  top: 0;
  background-color: white;
}
#aboutus {
  color: rgb(0, 179, 155);
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown a {
  color: rgb(200, 200, 200);
  padding: 10px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  color: turquoise;
  background-color: white;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  text-align: center;
  color: rgb(3, 143, 136);
  font-family: "Work Sans", sans-serif;
  font-size: 10mm;
}

.paragraphe {
  display: flex;
  font-size: 18px;
  word-spacing: -1px;
  justify-content: space-evenly;
}

.boxes {
  display: flex;
  justify-content: center;
}

.box {
  background-color: #00ccb1;
  padding: 32px 32px 0 32px;
  overflow: hidden;
  border-radius: 10px;
  margin: 10px;
  height: 345px;
  width: 275.633px;
}
.title {
  font-family: "Work Sans", sans-serif;
  font-size: 26px;
  color: white;
  letter-spacing: -0.3;
  line-height: 33.8px;
  text-align: left;
}

.white {
  font-family: "Work Sans", sans-serif;
  font-size: 24px;
  font-weight: 300;
  color: white;
  letter-spacing: -0.3;
  line-height: 28.8px;
}
.select {
  font-size: 19.2px;

  border-style: hidden;
}

h5 {
  text-align: left;
  color: rgb(3, 143, 136);
  font-family: "Work Sans", sans-serif;
  font-size: 30px;
}
.brandssection_inner {
  display: flex;
}

li {
  display: inline;
  font-size: 20px;
  line-height: 30.8px;
  font-family: Roboto, Arial, sans-serif;
  padding: 10mm;
  color: rgb(200, 200, 200);
}

.h1 {
  display: block;
  height: 88px;
  width: 400px;
  font-family: "Work Sans", Arial, sans-serif;
  color: #00b39b;
  margin-left: 2cm;
  margin-top: 2cm;
}
.px {
  display: block;
  width: 450px;
  font-weight: 300;
  line-height: 24px;
  color: #747474;
  margin-left: 2cm;
}
.img {
  background-color: #e5faf8;
  margin-top: 10m;
  margin-left: 10mm;
}
.wxs {
  display: flex;
  justify-content: space-around;
  background-color: #d5f8f5;
  height: 700px;
  margin: 40px -10px 0 -10px;
}
.nji {
  margin-left: 2.5cm;
  width: 600px;
}
.boxs4 {
  display: grid;
  grid-template-columns: 280px 240px;
  padding: 60px 0 20px 0;
  grid-gap: 10px;
  margin-right: 8cm;
  justify-content: start;
}

.divflag {
  display: block;
  width: 228px;
  height: 250px;
  background-color: white;
  padding: 15px 15px 15px 15px;
  border-radius: 5px;
  text-align: center;
}
.divflag h3 {
  display: block;
  width: 150px;
  height: 62px;
  line-height: 31.2px;
  text-align: center;
  margin-left: 40px;
  color: #00b39b;
  font-weight: 200;
  font-size: 24px;
  font-family: "Roboto", Arial, sans-serif;
}
.divflag p {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 13px;
  color: #747474;
  line-height: 17px;
  text-align: center;
  word-spacing: 0;
  width: 195px;
  margin-left: 18px;
  font-weight: 600;
}
.divvisits {
  display: block;
  width: 228px;
  height: 250px;
  background-color: white;
  padding: 15px 15px 15px 15px;
  border-radius: 5px;
  text-align: center;
  margin-top: -1cm;
}
.divvisits h3 {
  display: block;
  width: 150px;
  height: 62px;
  line-height: 31.2px;
  text-align: center;
  margin-left: 40px;
  color: #00b39b;
  font-weight: 200;
  font-size: 24px;
  font-family: "Roboto", Arial, sans-serif;
}
.divvisits p {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 13px;
  color: #747474;
  line-height: 17px;
  text-align: center;
  word-spacing: 0;
  width: 195px;
  margin-left: 18px;
  font-weight: 600;
}
.divpatients {
  display: block;
  width: 228px;
  height: 250px;
  background-color: white;
  padding: 15px 15px 15px 15px;
  border-radius: 5px;
  text-align: center;
}
.divpatients h3 {
  display: block;
  width: 150px;
  height: 62px;
  line-height: 31.2px;
  text-align: center;
  margin-left: 40px;
  color: #00b39b;
  font-weight: 200;
  font-size: 24px;
  font-family: "Roboto", Arial, sans-serif;
}
.divpatients p {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 13px;
  color: #747474;
  line-height: 17px;
  text-align: center;
  word-spacing: 0;
  width: 195px;
  margin-left: 18px;
  font-weight: 600;
}
.divdoctor {
  display: block;
  width: 228px;
  height: 250px;
  background-color: white;
  padding: 15px 15px 15px 15px;
  border-radius: 5px;
  text-align: center;
  margin-top: -1cm;
}
.divdoctor h3 {
  display: block;
  width: 150px;
  height: 62px;
  line-height: 31.2px;
  text-align: center;
  margin-left: 40px;
  color: #00b39b;
  font-weight: 200;
  font-size: 24px;
  font-family: "Roboto", Arial, sans-serif;
}
.divdoctor p {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 13px;
  color: #747474;
  line-height: 17px;
  text-align: center;
  word-spacing: 0;
  width: 195px;
  margin-left: 18px;
  font-weight: 600;
}

.officessection_inner {
  text-align: center;
}
.p5 {
  font-family: "work sans", Arial, sans-serif;
  font-size: 30px;
  font-weight: 300;
  line-height: 39px;
  color: rgb(0, 179, 155);
  margin-left: 50mm;
  margin-right: 50mm;
}

.p6 {
  font-family: "roboto", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  margin-left: 100mm;
  margin-right: 100mm;
  color: #747474;
}

.photo {
  display: flex;
  font-family: "roboto", Arial, sans-serif;
  font-size: 20px;
  color: #747474;
}

.button {
  color: white;
  background-color: #3d83df;
  font-size: 18px;
}

.Sounds {
  font-family: "roboto", Arial, sans-serif;
  font-size: 20px;
  color: rgb(40, 40, 40);
  text-align: center;
}

.footer {
  display: block;
  justify-content: center;
  text-align: center;
  color: rgb(116, 116, 116);
  font-size: 5;
}
